*{

	margin:0px;
	padding:0px;

}

body {

 background-image:url("../img/index.jpeg") ;
 
 }
 
 #nav {
	padding:0.5em;
	margin-bottom:0.5em;
	border-bottom: 1px solid #004C99
}

#head {



}

title{ 

font-size: 20pt; 
text-align :left ;
font-weight: bold ;
font-color: #black ;
	
}

span {

font-size: 30pt; 
text-align :right ;
font-weight: bold ;
font-color: #white ;
background-color: #green ;


}




