*{

	margin:0px;
	padding:0px;

}

body {

 background-image:url("../img/body.gif") ;
 
}
 
#header img{
	
	float: left;
	margin: 10px;
	width: 50px;
	height: 50px;
}

#nav li{

	float:left;
	color: white ;
	font-weight: bold ;
    height: 50px ;
	background:black;
	list-style-type:none;
	font-size : 14pt ;
	
}

#imggorila img {

	top:15% ;
	left:25% ;
	position: absolute ;
	
 
}

#imggorila span{

	font-family: verdana;
	color: white;
	text-align :left ;
	font-weight: bold ;
	color: black ;
	font-size: 20pt; 
	position: absolute;
	top: 12%;
	left: 47%;
		
	
}

#video iframe {

	position: absolute ;
	top:75% ;
	left:45% ;
	margin: 10px;
	
}	



title{ 

font-size: 20pt; 
text-align :left ;
font-weight: bold ;
font-color: #black ;
	
}









