*{

	margin:0px;
	padding:0px;

}

body{

 background-image:url("img/index.jpeg")/>

}

#header {

	witdh:50% ;
	height:200px ;
    background: url("https://dl.dropboxusercontent.com/u/14499359/apweb/logoapweb.png");
} 
{ 



}
