#normal{
	
		width:100%;
		text-align:center;
		
}

#relatiu p{


		background:green;
		width:50%;
		border:1px solid;
	
}


#relatiu.mou{


		background:cyan;
		position:relative;
		top:10px;
		left:10px;
}


